<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title pull-left">Bootstrap-Elements</h4>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:void(0)">Smart Admin</a>
                </li>
                <li>
                    <a href="javascript:void(0)">UI 元素</a>
                </li>
                <li class="active">
                    Bootstrap-Elements
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Popovers</h3>
            </div>
            <div class="panel-body">
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                        data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on right
                </button>
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" title="Popover title"
                        data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on top
                </button>
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                        data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on bottom
                </button>
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" title="Popover title"
                        data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on left
                </button>
                <a tabindex="0" class="btn btn-danger" role="button" data-toggle="popover" data-placement="top"
                   data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">
                    Dismissible popover
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Tooltips</h3>
            </div>
            <div class="panel-body">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Labels</h3>
            </div>
            <div class="panel-body">
                <span class="label label-default">Default</span>
                <span class="label label-primary">Primary</span>
                <span class="label label-success">Success</span>
                <span class="label label-info">Info</span>
                <span class="label label-warning">Warning</span>
                <span class="label label-danger">Danger</span>
                <span class="label label-teal">teal</span>
                <span class="label label-lilac">lilac</span>
                <span class="label label-inverse">lilac</span>
                <span class="label label-success label-stroke">空心</span>
                <span class="label label-teal label-stroke">teal</span>
                <span class="label label-primary label-circle">&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Badge</h3>
            </div>
            <div class="panel-body">
                <span class="badge bg-primary">15</span>
                <span class="badge bg-success">0</span>
                <span class="badge bg-info">21</span>
                <span class="badge bg-inverse">3</span>
                <span class="badge bg-warning">35</span>
                <span class="badge bg-danger">32</span>
                <span class="badge bg-teal">51</span>
                <span class="badge bg-lilac">77</span>
                <span class="badge">9</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Basic List group</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">
                        <span class="badge bg-primary">9</span>
                        Porta ac consectetur ac
                    </li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">List Group with Links</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item active">
                        <span class="badge">14</span>
                        Dapibus ac facilisis in
                    </a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item disabled">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">List Group in panel</h3>
            </div>
            <div class="panel-body p-0">
                <div class="list-group m-0">
                    <a href="#" class="list-group-item">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item active">
                        <span class="badge">14</span>
                        Dapibus ac facilisis in
                    </a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item disabled">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">List Group in panel</h3>
            </div>
            <div class="panel-body p-0">
                <ul class="list-group m-0">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">
                        <span class="badge bg-primary">9</span>
                        Porta ac consectetur ac
                    </li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Button items</h3>
            </div>
            <div class="panel-body p-0">
                <div class="list-group m-0">
                    <button type="button" class="list-group-item">Cras justo odio</button>
                    <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
                    <button type="button" class="list-group-item">Morbi leo risus</button>
                    <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                    <button type="button" class="list-group-item">Vestibulum at eros</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">List group striped</h3>
            </div>
            <div class="panel-body p-0">
                <div class="list-group list-group-striped m-0">
                    <button type="button" class="list-group-item">Cras justo odio</button>
                    <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
                    <button type="button" class="list-group-item">Morbi leo risus</button>
                    <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                    <button type="button" class="list-group-item">Vestibulum at eros</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Custom content</h3>
            </div>
            <div class="panel-body p-0">
                <div class="list-group m-0">
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item active">
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item disabled">
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("[data-toggle='popover']").popover();
        $('[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });
    });
</script>
