<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title pull-left">Buttons</h4>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:void(0)">Smart Admin</a>
                </li>
                <li>
                    <a href="javascript:void(0)">UI 元素</a>
                </li>
                <li class="active">
                    Buttons
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Defaut Buttons</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-default">.btn-default</button>
                <button class="btn btn-primary">.btn-primary</button>
                <button class="btn btn-success">.btn-success</button>
                <button class="btn btn-info">.btn-info</button>
                <button class="btn btn-warning">.btn-warning</button>
                <button class="btn btn-danger">.btn-danger</button>
                <button class="btn btn-inverse">.btn-inverse</button>
                <button class="btn btn-teal">.btn-teal</button>
                <button class="btn btn-lilac">.btn-lilac</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Button Sizes</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-primary btn-lg">Large button</button>
                <button class="btn btn-success">Normal button</button>
                <button class="btn btn-danger btn-sm">Small button</button>
                <button class="btn btn-lilac btn-xs">Extra small button</button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Button Disabled</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-default disabled">default</button>
                <button class="btn btn-primary disabled">primary</button>
                <button class="btn btn-success disabled">success</button>
                <button class="btn btn-info disabled">info</button>
                <button class="btn btn-warning disabled">warning</button>
                <button class="btn btn-danger disabled">danger</button>
                <button class="btn btn-inverse disabled">inverse</button>
                <button class="btn btn-lilac disabled">inverse</button>
                <button class="btn btn-teal disabled">inverse</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Icon Button</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-icon btn-default m-b-5"><i class="fa fa-heart-o"></i></button>
                <button class="btn btn-icon btn-danger m-b-5"><i class="fa fa-remove"></i></button>
                <button class="btn btn-icon btn-lilac m-b-5"><i class="fa fa-music"></i></button>
                <button class="btn btn-icon btn-primary m-b-5"><i class="fa fa-star"></i></button>
                <button class="btn btn-icon btn-success m-b-5"><i class="fa fa-thumbs-o-up"></i></button>
                <button class="btn btn-icon btn-info m-b-5"> <i class="fa fa-keyboard-o"></i></button>
                <button class="btn btn-icon btn-warning m-b-5"><i class="fa fa-wrench"></i></button>
                <button class="btn btn-icon btn-inverse m-b-5"><i class="fa fa-cog"></i></button>
                <button class="btn btn-icon btn-teal m-b-5"><i class="fa fa-check"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Icon Button With Text</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-icon btn-default m-b-5">
                    <i class="fa fa-heart-o"></i>
                    <span>喜欢</span>
                </button>
                <button class="btn btn-icon btn-danger m-b-5">
                    <i class="fa fa-remove"></i>
                    <span>删除</span>
                </button>
                <button class="btn btn-icon btn-lilac m-b-5">
                    <i class="fa fa-music"></i>
                    <span>音乐</span>
                </button>
                <button class="btn btn-icon btn-primary m-b-5">
                    <i class="fa fa-star"></i>
                    <span>收藏</span>
                </button>
                <button class="btn btn-icon btn-success m-b-5">
                    <i class="fa fa-thumbs-o-up"></i>
                    <span>点赞</span>
                </button>
                <button class="btn btn-icon btn-info m-b-5">
                    <i class="fa fa-keyboard-o"></i>
                    <span>输入法</span>
                </button>
                <button class="btn btn-icon btn-warning m-b-5">
                    <i class="fa fa-wrench"></i>
                    <span>修复</span>
                </button>
                <button class="btn btn-icon btn-inverse m-b-5">
                    <i class="fa fa-cog"></i>
                    <span>设置</span>
                </button>
                <button class="btn btn-icon btn-teal m-b-5">
                    <i class="fa fa-check"></i>
                    <span>提交</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Button Group</h3>
            </div>
            <div class="panel-body">
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-default">Left</button>
                    <button type="button" class="btn btn-default">Middle</button>
                    <button type="button" class="btn btn-default">Right</button>
                </div>
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-success">Left</button>
                    <button type="button" class="btn btn-success">Middle</button>
                    <button type="button" class="btn btn-success">Right</button>
                </div>
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-primary">Left</button>
                    <button type="button" class="btn btn-primary">Middle</button>
                    <button type="button" class="btn btn-primary">Right</button>
                </div>
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-info">Left</button>
                    <button type="button" class="btn btn-info">Middle</button>
                    <button type="button" class="btn btn-info">Right</button>
                </div>
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-warning">Left</button>
                    <button type="button" class="btn btn-warning">Middle</button>
                    <button type="button" class="btn btn-warning">Right</button>
                </div>
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-danger">Left</button>
                    <button type="button" class="btn btn-danger">Middle</button>
                    <button type="button" class="btn btn-danger">Right</button>
                </div>
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-inverse">Left</button>
                    <button type="button" class="btn btn-inverse">Middle</button>
                    <button type="button" class="btn btn-inverse">Right</button>
                </div>
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-lilac">Left</button>
                    <button type="button" class="btn btn-lilac">Middle</button>
                    <button type="button" class="btn btn-lilac">Right</button>
                </div>
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-teal">Left</button>
                    <button type="button" class="btn btn-teal">Middle</button>
                    <button type="button" class="btn btn-teal">Right</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Button dropdowns</h3>
            </div>
            <div class="panel-body">
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Drop up <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Right Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Pagination</h3>
            </div>
            <div class="panel-body">
                <ul class="pagination m-b-0 m-t-0">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Colored button dropdowns</h3>
            </div>
            <div class="panel-body">
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Right Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Split button dropdowns</h3>
            </div>
            <div class="panel-body">
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-danger">Action</button>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-inverse">Action</button>
                    <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-lilac">Action</button>
                    <button type="button" class="btn btn-lilac dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-inverse">Right Action</button>
                    <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Dropdown Color Styles</h3>
            </div>
            <div class="panel-body">
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu drop-primary">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Success dropdown <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu drop-success">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Inverse dropdown <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu drop-inverse">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-teal dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Teal dropdown <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu drop-teal">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Danger dropdown <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu drop-danger">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup m-b-10">
                    <button type="button" class="btn btn-lilac dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        lilac dropdown with icons <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu drop-lilac">
                        <li>
                            <a href="#">
                                <i class="fa fa-home"></i>
                                Action
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-code"></i>
                                Another action
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-search"></i>
                                Something else here
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-server"></i>
                                Separated link
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
