<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title pull-left">Buttons</h4>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:void(0)">Smart Admin</a>
                </li>
                <li>
                    <a href="javascript:void(0)">UI 元素</a>
                </li>
                <li class="active">
                    Buttons
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Defaut Buttons</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-default">.btn-default</button>
                <button class="btn btn-primary">.btn-primary</button>
                <button class="btn btn-success">.btn-success</button>
                <button class="btn btn-info">.btn-info</button>
                <button class="btn btn-warning">.btn-warning</button>
                <button class="btn btn-danger">.btn-danger</button>
                <button class="btn btn-inverse">.btn-inverse</button>
                <button class="btn btn-teal">.btn-teal</button>
                <button class="btn btn-lilac">.btn-lilac</button>
            </div>
        </div>
    </div>
</div>