<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title pull-left">多彩表格</h4>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:void(0)">Smart Admin</a>
                </li>
                <li>
                    <a href="javascript:void(0)">表格样式</a>
                </li>
                <li class="active">
                    多彩表格
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">基础颜色</h3>
            </div>
            <div class="panel-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped table-primary">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 45px">序号</th>
                                <th>姓名</th>
                                <th>地区</th>
                                <th>职业</th>
                                <th>评级</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>
                                    <img src="~/Images/demo/u1.png" alt="张九零">
                                    <span>张九零</span>
                                </td>
                                <td>中国 - 上海市</td>
                                <td>前端交互设计师</td>
                                <td>
                                    <input name="input-name" type="number" class="rating rating-loading" value="4"
                                            data-min="0" data-max="5"  data-step="1" data-size="xs">
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="查看详情">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="编辑">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="删除">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td>
                                    <img src="~/Images/demo/u2.png" alt="菜菜">
                                    <span>菜菜</span>
                                </td>
                                <td>广东 - 深圳市</td>
                                <td>后端小菜</td>
                                <td>
                                    <input name="input-name" type="number" class="rating rating-loading" value="3"
                                           data-min="0" data-max="5" data-step="1" data-size="xs">
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="查看详情">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="编辑">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="删除">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td>
                                    <img src="~/Images/demo/u4.png" alt="艾青">
                                    <span>艾青</span>
                                </td>
                                <td>广东 - 深圳市</td>
                                <td>前端工程师</td>
                                <td>
                                    <input name="input-name" type="number" class="rating rating-loading" value="4"
                                           data-min="0" data-max="5" data-step="1" data-size="xs">
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="查看详情">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="编辑">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="删除">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">4</td>
                                <td>
                                    <img src="~/Images/demo/u3.png" alt="任我行">
                                    <span>任我行</span>
                                </td>
                                <td>中国 - 上海市</td>
                                <td>高级码农</td>
                                <td>
                                    <input name="input-name" type="number" class="rating rating-loading" value="4"
                                           data-min="0" data-max="5" data-step="1" data-size="xs">
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="查看详情">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="编辑">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="删除">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">5</td>
                                <td>
                                    <img src="~/Images/demo/u5.png" alt="柯镇恶">
                                    <span>柯镇恶</span>
                                </td>
                                <td>浙江 - 杭州市</td>
                                <td>技术总监</td>
                                <td>
                                    <input name="input-name" type="number" class="rating rating-loading" value="2"
                                           data-min="0" data-max="5" data-step="1" data-size="xs">
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="查看详情">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="编辑">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="删除">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });

        $(".rating").rating({
            displayOnly: true,
            theme: 'krajee-fa'
        });
    })
</script>