<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title pull-left">Designer</h4>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:void(0)">Smart Admin</a>
                </li>
                <li>
                    <a href="javascript:void(0)">頁面佈局</a>
                </li>
                <li class="active">
                    Designer
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<h3>設計參考</h3>
<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a class="list-group-item" href="http://themes.djavaui.com/blankon-fullpack-admin-theme/live-preview/admin/html/dashboard.html" target="_blank">blankon</a>
            <a class="list-group-item" href="http://seantheme.com/color-admin-v2.1/admin/html/chart-flot.html" target="_blank">color-admin-v2.1</a>
            <a class="list-group-item" href="http://blacktie.co/demo/premium/dashio/dashboard/" target="_blank">dashio</a>
            <a class="list-group-item" href="http://www.themeon.net/nifty/v2.5/index.html" target="_blank">nifty</a>
            <a class="list-group-item" href="http://geedmo.com/themes/naut/v1.4/angularjs/#/app/dashboard" target="_blank">naut</a>
            <a class="list-group-item" href="http://coderthemes.com/flacto_1.3/green_1_dark/index.html" target="_blank">flacto</a>
            <a class="list-group-item" href="http://moltran.coderthemes.com/dark/index.html" target="_blank">moltran</a>
            <a class="list-group-item" href="http://byrushan.com/projects/mae/1-0/" target="_blank">material admin</a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="list-group">
            <a class="list-group-item" href="http://seantheme.com/source-admin-v1.2.1/admin/html/index.html" target="_blank">source-admin</a>
            <a class="list-group-item" href="http://www.deemble.com/deeadmin/v1_2_0/dashboard.html" target="_blank">deeadmin</a>
            <a class="list-group-item" href="http://51.254.97.254/plumo/1.1/" target="_blank">plumo admin</a>
            <a class="list-group-item" href="http://bentkwek.com/quatro/v1.1/admin/#/" target="_blank">quatro(下拉不错)</a>
            <a class="list-group-item" href="http://coderthemes.com/velonic_wb_3/" target="_blank">velonic_wb_3 velonic</a>
            <a class="list-group-item" href="http://coderthemes.com/zircos_1.6/default/index.html" target="_blank">zircos_1.6</a>
            <a class="list-group-item" href="http://coderthemes.com/velonic_wb_3/admin_3/sweet-alert.html" target="_blank">velonic_wb_3 admin_3</a>
            <a class="list-group-item" href="https://material.io/icons/" target="_blank">google material icons</a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="list-group">
            <a class="list-group-item" href="http://coderthemes.com/minton_2.0/dark/index.html" target="_blank">minton_2</a>
            <a class="list-group-item" href="http://coderthemes.com/adminto_1.4/dark/index.html" target="_blank">minton_2</a>
            <a class="list-group-item" href="http://seantheme.com/color-admin-v2.1/admin/html/chart-flot.html" target="_blank">color-admin-v2.1</a>
            <a class="list-group-item" href="http://g-axon.com/mouldifi-4.2/dark/index.html" target="_blank">mouldifi</a>
            <a class="list-group-item" href="http://coderthemes.com/minton_2.0/dark/index.html" target="_blank">minton_2</a>
            <a class="list-group-item" href="http://bentkwek.com/quatro/v1.1/admin/#/" target="_blank">quatro</a>
            <a class="list-group-item" href="http://g-axon.com/mouldifi-4.2/dark/index.html" target="_blank">mouldifi</a>
        </div>
    </div>
</div>