<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title pull-left">表单布局</h4>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:void(0)">Smart Admin</a>
                </li>
                <li>
                    <a href="javascript:void(0)">表单元素</a>
                </li>
                <li class="active">
                    表单布局
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--Start inline form-->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Inline Form <code>.form-inline</code></h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" action="javascript:void(0)">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail3">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword3">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <div class="ckbox ckbox-primary">
                                <input id="checkbox-iform" type="checkbox">
                                <label for="checkbox-iform">Remember me</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Start horizontal form-->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Inline Form <code>.form-horizontal</code></h3>
            </div>
            <div class="panel-body p-0">
                <form class="form-horizontal m-t-10" action="javascript:void(0)">
                    <div class="form-body">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-7">
                                    <div class="ckbox ckbox-success">
                                        <input id="rememberme2" value="1" type="checkbox">
                                        <label for="rememberme2">Remember me</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer">
                        <div class="col-sm-offset-3">
                            <button type="submit" class="btn btn-success">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Start bordered form-->
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Bordered Form <code>.form-bordered</code></h3>
            </div>
            <div class="panel-body p-0">
                <form class="form-horizontal form-bordered" action="javascript:void(0)">
                    <div class="form-body">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputEmail4" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputPassword4" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-7">
                                    <div class="ckbox ckbox-teal">
                                        <input id="rememberme3" value="1" type="checkbox">
                                        <label for="rememberme3">Remember me</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer">
                        <div class="col-sm-offset-3">
                            <button type="submit" class="btn btn-teal">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Striped Form <code>.form-bordered</code> <code>.form-striped</code></h3>
            </div>
            <div class="panel-body p-0">
                <form class="form-horizontal form-bordered form-striped" action="javascript:void(0)">
                    <div class="form-body">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputEmail5" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="inputEmail5" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputPassword5" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="inputPassword5" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-7">
                                    <div class="ckbox ckbox-teal">
                                        <input id="rememberme5" value="1" type="checkbox">
                                        <label for="rememberme5">Remember me</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer">
                        <div class="col-sm-offset-3">
                            <button type="submit" class="btn btn-teal">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-blank">
                    <div class="panel-heading">
                        <h3 class="panel-title">Condensed and Striped Form <code>.form-bordered</code> <code>.form-striped</code> <code>.form-condensed</code></h3>
                    </div>
                    <div class="panel-body p-0">
                        <form class="form-horizontal form-bordered form-striped form-condensed" action="javascript:void(0)">
                            <div class="form-body">
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="inputEmail6" class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-7">
                                            <input type="email" class="form-control" id="inputEmail6" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="inputPassword6" class="col-sm-3 control-label">Password</label>
                                        <div class="col-sm-7">
                                            <input type="password" class="form-control" id="inputPassword6" placeholder="Password">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-7">
                                            <div class="ckbox ckbox-lilac">
                                                <input id="rememberme6" value="1" type="checkbox">
                                                <label for="rememberme6">Remember me</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-footer">
                                <div class="col-sm-offset-3">
                                    <button type="submit" class="btn btn-lilac">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">模拟表格表单的布局(label固定宽度，宽度可选且可扩展)</h3>
                    </div>
                    <div class="panel-body p-0">
                        <form class="form-horizontal form-bordered form-striped form-condensed form-table" action="javascript:void(0)">
                            <div class="form-body">
                                <div class="form-row">
                                    <div class="row m-0">
                                        <div class="col-sm-6 form-cell">
                                            <div class="form-group">
                                                <label class="control-label">User name</label>
                                                <div class="form-control-cell">
                                                    <input type="text" class="form-control" placeholder="User name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-cell">
                                            <div class="form-group">
                                                <label class="control-label">Email</label>
                                                <div class="form-control-cell">
                                                    <input type="text" class="form-control" placeholder="Email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="row m-0">
                                        <div class="col-sm-6 form-cell">
                                            <div class="form-group">
                                                <label class="control-label">First name</label>
                                                <div class="form-control-cell">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-cell">
                                            <div class="form-group">
                                                <label class="control-label">Last name</label>
                                                <div class="form-control-cell">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="row m-0">
                                        <div class="col-sm-12 form-cell">
                                            <div class="form-group">
                                                <label class="control-label">Your address</label>
                                                <div class="form-control-cell">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="row m-0">
                                        <div class="col-sm-3 form-cell">
                                            <div class="form-group">
                                                <label class="control-label">Age</label>
                                                <div class="form-control-cell">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 form-cell cell-80">
                                            <div class="form-group">
                                                <label class="control-label">Work Exps</label>
                                                <div class="form-control-cell">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-cell">
                                            <div class="form-group">
                                                <label class="control-label">City</label>
                                                <div class="form-control-cell">
                                                    <select class="form-control">
                                                        <option>请选择...</option>
                                                        <option>北京</option>
                                                        <option>上海</option>
                                                        <option>深圳</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-footer ">
                                <div class="form-cell">
                                    <div class="form-control-cell">
                                        <button type="submit" class="btn btn-default">Sign in</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Form With Additional Information</h3>
            </div>
            <div class="panel-body p-0">
                <form class="form-horizontal form-bordered" action="javascript:void(0)">
                    <div class="form-body">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputUser7" class="col-sm-3 control-label">User name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="inputUser7" placeholder="User name">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputEmail7" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="inputEmail7" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputPassword7" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="inputPassword7">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputConfirmPassword7" class="col-sm-3 control-label">Confirm your Password</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="inputConfirmPassword7">
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-row-divider">
                            <div class="form-inner">
                                <h6 class="m-0">Additional Information</h6>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputConfirmPassword7" class="col-sm-3 control-label">Focus Areas</label>
                                <div class="col-sm-7">
                                    <div class="ckbox ckbox-lilac checkbox-inline">
                                        <input id="ck1" value="1" type="checkbox">
                                        <label for="ck1">Science and technology</label>
                                    </div>
                                    <div class="ckbox ckbox-lilac checkbox-inline">
                                        <input id="ck2" value="2" type="checkbox" checked="checked">
                                        <label for="ck2">Politics</label>
                                    </div>
                                    <div class="ckbox ckbox-lilac checkbox-inline">
                                        <input id="ck3" value="3" type="checkbox">
                                        <label for="ck3">Law</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputMobile7" class="col-sm-3 control-label">Mobile phone</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="inputMobile7">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputConfirmPassword7" class="col-sm-3 control-label">Gender</label>
                                <div class="col-sm-7">
                                    <div class="rdio ckbox-success checkbox-inline">
                                        <input id="gender1" value="1" name="a" checked="checked" type="radio">
                                        <label for="gender1">Male</label>
                                    </div>
                                    <div class="rdio ckbox-success checkbox-inline">
                                        <input id="gender2" value="2" name="a" type="radio">
                                        <label for="gender2">Female</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputQQ7" class="col-sm-3 control-label">QQ</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="inputQQ7">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputInfo7" class="col-sm-3 control-label">Personal note</label>
                                <div class="col-sm-7">
                                    <textarea rows="3" class="form-control" id="inputInfo7"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer">
                        <div class="col-sm-offset-3">
                            <button type="submit" class="btn btn-danger">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>