@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title pull-left">控制面板</h4>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:void(0)">Smart Admin</a>
                </li>
                <li class="active">
                    控制面板
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <td>FirstName</td>
                    <td>LastName</td>
                    <td>Gender</td>
                    <td>Age</td>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < 1000; i++)
            {
                    <tr>
                        <td>Quaider @i</td>
                        <td>Zhang @i</td>
                        <td>男</td>
                        <td>@i</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $("table.table").dataTable({
                "language": {
                    "url": "Scripts/i18n/datatable.lang.chinese.json"
                }
            });
        });
    </script>
}