<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title pull-left">TreeView</h4>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:void(0)">Smart Admin</a>
                </li>
                <li>
                    <a href="javascript:void(0)">UI 元素</a>
                </li>
                <li class="active">
                    TreeView
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">深度定制的样式(zTree)</h3>
            </div>
            <div class="panel-body">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">不显示虚线，手动加上<code>.noline</code></h3>
            </div>
            <div class="panel-body">
                <ul id="treeDemo2" class="ztree noline"></ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">无线复选框树</h3>
            </div>
            <div class="panel-body">
                <ul id="treeDemo3" class="ztree noline"></ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">有线复选框树</h3>
            </div>
            <div class="panel-body">
                <ul id="treeDemo4" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">基础编辑功能</h3>
            </div>
            <div class="panel-body">
                <ul id="treeDemo5" class="ztree"></ul>
            </div>
        </div>
    </div>
</div>
<script>
    var settings = {
        data: {
            simpleData: {
                enable: true
            }
        }
    };
    // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
    var zNodes = [
        {
            name: "设备购置类合同",
            open: true,
            children: [
                { name: "机电类" },
                { name: "生活家具购置类" },
                { name: "设备购置预留费用类" }
            ]
        },
        {
            name: "其他费用类合同",
            open: true,
            children: [
                {
                    name: "新增费用类",
                    open: true,
                    children: [
                        { name: "服务类合同" },
                        { name: "监测合同" }
                    ]
                },
                {
                    name: "建设项目管理费类",
                    open: true,
                    children: [
                        { name: "建设单位管理费类" },
                        { name: "设计文件审查费类" },
                        { name: "工程监理费(含第三方检测)" }
                    ]
                }
            ]
        }, {
            name: '没有子节点的一级节点'
        }
    ];

    $(function () {
        $.fn.zTree.init($("#treeDemo"), settings, zNodes);
        $.fn.zTree.init($("#treeDemo2"), {
            view: {
                showLine: false
            }
        }, zNodes);

        $.fn.zTree.init($("#treeDemo3"), {
            check: {
                enable: true
            },
            view: {
                showLine: false
            }
        }, zNodes);

        $.fn.zTree.init($("#treeDemo4"), {
            check: {
                enable: true
            }
        }, zNodes);

        $.fn.zTree.init($("#treeDemo5"), {
            edit: {
                enable: true
            }
        }, zNodes);
    });
</script>