@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_IframeLayout.cshtml";
}
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-stats bg-primary round3">
            <div class="stats-icon"><i class="fa fa-desktop"></i></div>
            <div class="stats-info">
                <h4>今日成交总额</h4>
                <p>3,291,922</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;">
                    View Detail
                    <i class="fa fa-arrow-circle-o-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-stats bg-lilac round3">
            <div class="stats-icon"><i class="fa fa-users"></i></div>
            <div class="stats-info">
                <h4>今日新注册人数</h4>
                <p>1,278</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;">
                    View Detail
                    <i class="fa fa-arrow-circle-o-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-stats bg-success round3">
            <div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
            <div class="stats-info">
                <h4>今日访问量</h4>
                <p>18,661,321</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;">
                    View Detail
                    <i class="fa fa-arrow-circle-o-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-stats bg-teal round3">
            <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
            <div class="stats-info">
                <h4>平均在线时间</h4>
                <p>63.5分钟</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;">
                    View Detail
                    <i class="fa fa-arrow-circle-o-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
