@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title pull-left">控制面板</h4>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:void(0)">Smart Admin</a>
                </li>
                <li class="active">
                    控制面板
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    
</div>
