<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title pull-left">Panels</h4>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:void(0)">Smart Admin</a>
                </li>
                <li>
                    <a href="javascript:void(0)">UI 元素</a>
                </li>
                <li class="active">
                    Panels
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<h3>简单Panel</h3>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel Default</h3>
            </div>
            <div class="panel-body">
                <p>Panel content</p>
                <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel Primary</h3>
            </div>
            <div class="panel-body">
                <p>Panel content</p>
                <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Panel Info</h3>
            </div>
            <div class="panel-body">
                <p>Panel content</p>
                <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Panel Success</h3>
            </div>
            <div class="panel-body">
                <p>Panel content</p>
                <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Panel Warning</h3>
            </div>
            <div class="panel-body">
                <p>Panel content</p>
                <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
            </div>
        </div>
        <div class="panel panel-lilac">
            <div class="panel-heading">
                <h3 class="panel-title">Panel Lilac</h3>
            </div>
            <div class="panel-body">
                <p>Panel content</p>
                <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Panel Success</h3>
            </div>
            <div class="panel-body">
                <p>Panel content</p>
                <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
            </div>
        </div>
        <div class="panel panel-teal">
            <div class="panel-heading">
                <h3 class="panel-title">Panel Teal</h3>
            </div>
            <div class="panel-body">
                <p>Panel content</p>
                <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
            </div>
        </div>
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h3 class="panel-title">Panel Blank</h3>
            </div>
            <div class="panel-body">
                <p>Panel content</p>
                <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
            </div>
        </div>
    </div>
</div>
<h3>带工具栏的Panel</h3>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Panel With Tools</h3>
                </div>
                <div class="pull-right panel-toolbar">
                    <button class="btn btn-sm">
                        <i class="fa fa-expand"></i>
                    </button>
                    <button class="btn btn-sm">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <button class="btn btn-sm">
                        <i class="fa fa-angle-up"></i>
                    </button>
                    <button class="btn btn-sm">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <p>Panel content</p>
                <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">
                        <i class="fa fa-apple"></i>
                        Panel With Tools
                    </h3>
                </div>
                <div class="pull-right panel-toolbar">
                    <button class="btn btn-sm">
                        <i class="fa fa-angle-up"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <p>Panel content</p>
                <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default panel-tabs">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Panel With Tabs</h3>
                </div>
                <div class="pull-right panel-tabs-title">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1" role="tabpanel" data-toggle="tab">Tab One</a>
                        </li>
                        <li>
                            <a href="#tab2" role="tabpanel" data-toggle="tab">Tab Two</a>
                        </li>
                        <li>
                            <a href="#tab3" role="tabpanel" data-toggle="tab">Tab Three</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <p>Content with tab 1</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab2">
                        <p>Content with tab 2</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab3">
                        <p>Content with tab 3</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success panel-tabs">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Panel With Tabs</h3>
                </div>
                <div class="pull-right panel-tabs-title">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab4" role="tabpanel" data-toggle="tab">Tab One</a>
                        </li>
                        <li>
                            <a href="#tab5" role="tabpanel" data-toggle="tab">Tab Two</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab4">
                        <p>Content with tab 4</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab5">
                        <p>Content with tab 5</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-inverse panel-tabs">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">中文字体效果</h3>
                </div>
                <div class="pull-right panel-tabs-title">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab6" role="tabpanel" data-toggle="tab">选项卡一</a>
                        </li>
                        <li>
                            <a href="#tab7" role="tabpanel" data-toggle="tab">选项卡二</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab6">
                        <p>Content with tab 6</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab7">
                        <p>Content with tab 7</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary panel-tabs">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Panel With Tabs</h3>
                </div>
                <div class="pull-right panel-tabs-title">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab8" role="tabpanel" data-toggle="tab">Tab One</a>
                        </li>
                        <li>
                            <a href="#tab9" role="tabpanel" data-toggle="tab">Tab Two</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab8">
                        <p>Content with tab 6</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab9">
                        <p>Content with tab 9</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

