<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title pull-left">Tabs & Accordions</h4>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:void(0)">Smart Admin</a>
                </li>
                <li>
                    <a href="javascript:void(0)">UI 元素</a>
                </li>
                <li class="active">
                    Tabs & Accordions
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<h3>Tabs In Panel</h3>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default panel-tabs">
            <div class="panel-heading">
                <div class="panel-tabs-title">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <p>home</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <p>profile</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <p>messages</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        <p>settings</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-8">
        <div class="panel panel-danger panel-tabs">
            <div class="panel-heading">
                <div class="panel-tabs panel-tabs-title">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home1" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#profile1" aria-controls="profile1" role="tab" data-toggle="tab">Profile</a></li>
                        <li role="presentation"><a href="#messages1" aria-controls="messages1" role="tab" data-toggle="tab">Messages</a></li>
                        <li role="presentation"><a href="#settings1" aria-controls="settings1" role="tab" data-toggle="tab">Settings</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home1">
                        <p>home</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile1">
                        <p>profile</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages1">
                        <p>messages</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings1">
                        <p>settings</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3>Bootstrap Tabs</h3>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tabs with no border</h3>
            </div>
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home3" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                    <li role="presentation"><a href="#profile3" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                    <li role="presentation"><a href="#messages3" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                    <li role="presentation"><a href="#settings3" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home3">
                        home3
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile3">
                        profile3
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages3">
                        messages3
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings3">
                        settings3
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-just-tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home4" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#profile4" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation"><a href="#messages4" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                <li role="presentation"><a href="#settings4" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home4">
                    <p>可附加樣式</p>
                    <b class="text-primary">.primary</b>
                    <b class="text-info">.info</b>
                    <b class="text-teal">.teal</b>
                    <b class="text-success">.success</b>
                    <b class="text-warning">.warning</b>
                    <b class="text-danger">.danger</b>
                    <b class="text-lilac">.lilac</b>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile4">
                    profile4
                </div>
                <div role="tabpanel" class="tab-pane" id="messages4">
                    messages4
                </div>
                <div role="tabpanel" class="tab-pane" id="settings4">
                    settings4
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-just-tabs success">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#home5" aria-controls="home" role="tab" data-toggle="tab">Home</a>
                </li>
                <li>
                    <a href="#profile5" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                </li>
                <li>
                    <a href="#messages5" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
                </li>
                <li>
                    <a href="#settings5" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home5">
                    <p>可附加樣式</p>
                    <b class="text-primary">.primary</b>
                    <b class="text-info">.info</b>
                    <b class="text-teal">.teal</b>
                    <b class="text-success">.success</b>
                    <b class="text-warning">.warning</b>
                    <b class="text-danger">.danger</b>
                    <b class="text-lilac">.lilac</b>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile5">
                    profile5
                </div>
                <div role="tabpanel" class="tab-pane" id="messages5">
                    messages5
                </div>
                <div role="tabpanel" class="tab-pane" id="settings5">
                    settings5
                </div>
            </div>
        </div>
    </div>
</div>
<h3>Accordions</h3>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="panel-group panel-group-joined" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Collapsible Group Item #1
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel-group panel-group-joined" role="tablist" aria-multiselectable="true">
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
                            Collapsible Group Item #1
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingTwo1">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo1">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingThree1">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </a>
                    </h4>
                </div>
                <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree1">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>