<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title pull-left">Tabs</h4>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:void(0)">Smart Admin</a>
                </li>
                <li>
                    <a href="javascript:void(0)">UI 元素</a>
                </li>
                <li class="active">
                    Tabs
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<h3>Tabs In Panel</h3>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <p>home</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <p>profile</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <p>messages</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        <p>settings</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-8">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="panel-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home1" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#profile1" aria-controls="profile1" role="tab" data-toggle="tab">Profile</a></li>
                        <li role="presentation"><a href="#messages1" aria-controls="messages1" role="tab" data-toggle="tab">Messages</a></li>
                        <li role="presentation"><a href="#settings1" aria-controls="settings1" role="tab" data-toggle="tab">Settings</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home1">
                        <p>home</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile1">
                        <p>profile</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages1">
                        <p>messages</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings1">
                        <p>settings</p>
                        <p>北冥有鱼，其名为鯤，鲲之大，一锅炖不下，化而为鸟，其名为鹏，鹏之大，需两个烤架，一只孜然，一只麻辣，来箱雪花，一起勇闯天涯！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3>Bootstrap Tabs</h3>
<div class="row">
    <div class="col-md-4 col-sm-4">
        
    </div>
</div>